@import "./../share.scss";

#root .home {
  .section.segment-right {
    padding-bottom: 120px;
    background-position: 50% 50%;
    background-size: cover;
  }

  .white-half-col {
    padding: 40px;
    background-color: #fff;

    .title {
      margin-bottom: 10px;
    }

    .cta-bottom {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #e1e8ee;
    }
  }

  .home-slider {
    position: relative;

    .signup-on-slider {
      position: absolute;

      color: #FFFFFF;
      left: 0;
      top: 0;
      z-index: 3;

      padding-top: 12vw;
      padding-bottom: 12vw;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;

      .title {
        margin-bottom: 40px;
      }

      .wrapper {
        #email-form {
          .btn-signup {
            border: solid white 2px;
            color: #fff;
            height: initial;
            display: inline-block;
            padding: 6px 15px;
            -webkit-transition: border 200ms ease;
            transition: border 200ms ease;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              color: #333;
            }
          }

          .form-control {
            border-radius: initial;
          }
        }
      }
    }
  }

  .jump-off {
    background-position: 100% 100%;
    background-size: cover;

    .title {
      margin-bottom: 20px;
    }

    .description {
      margin-bottom: 60px;

      p {
        max-width: 400px;
      }
    }

    .jump-off-holder {
      display: block;
      height: 100%;
      background-color: #fff;
      color: #333;
      text-decoration: none;

      .jump-off-image {
        padding-bottom: 50%;
        background-position: 50% 50%;
        background-size: cover;
      }

      .jump-off-content {
        padding: 20px;

        .jump-off-title {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.modal-dialog {
  width: 800px;

  .modal-body {
    display: inline-block;
  }
}
  
